@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">Welcome</h1>
<h2 class="display-4">To My Club ^_~</h2>

<div style="text-align:center; margin-top:20px;">
    <img src="~/Assets/images.jpeg" alt="My Image" style="max-width:400px; height:auto;" />
</div>
</div>
